# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data & artifacts
data/
**/data/
**/logs/
*.log
*.csv
*.parquet
*.xlsx
*.json

# Environment & credentials
.env
*.key
*.pem

# IDE / Editor
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
